body{
    height: 100vh;
}
#logo{
    text-align: center;
}.clock{
    font-size: 10vmin;
}.showcase{
    background-color: ;
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 10%;
    padding: ;
}.staffbod{
   
}