body{
    height: 100vh;
}
#logo{
    text-align: center;
}.clock{
    font-size: 10vmin;
}.showcase{
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 10%;
}.staffbod{
   
}.btn-lg{
    font-size: 2.5vmin;
}