{% extends 'users/base.html' %}

{% block content %}
<h3 style="color: green;">{{ msg }}</h3>
<h3 style="color: red;">{{ error }}</h3>                   
            <div class="container mt-5">
                <div class="card-deck container">
                    {% for user in users %}
                    <a href="{% url 'user_clockins' user.id %}">
                    <div class="card center rounded">
                        {% if user.image %}
                        <img class="card-img-top" src="{{ user.image.url }}" alt="Card image cap" style="width: 10rem;" >
                        {% endif %}
                    <div class="card-footer">
                        <a href="#" class="staffname"><h5 class="card-title">{{ user.get_full_name }}</h5></a>
                        <p class="card-text">{{ user.department }}</p>
                    </div>
                    </div>
                    </a>
                    {% endfor %} 
                </div>
            </div>

{% endblock %}