
{% extends 'users/base.html' %}

{% block content %}

<p style="color: green;">{{ dept }}</p>
<p style="color: green;">{{ role }}</p>
<p style="color: red;">{{ error }}</p>


    <div class="container-fluid col col-10 col-sm-8 col-md-6 col-lg-6 login d-flex justify-content-center">
        
        <form class="col align-self-center p-3 pl-5 pr-5 col-lg-6 mt-5 shadow-lg rounded" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
            <input type="text" class="form-control border-danger mt-3 mb-2" name="first_name" id="Name" required autofocus placeholder="First Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control border-danger mt-3 mb-2" name="last_name" id="Name" required autofocus placeholder="Last Name">
              </div>
            <div class="form-group">
            <input type="email" class="form-control border-danger mt-1 mb-2" name="email" id="Email" required placeholder="Email">
            </div>
            <div class="form-group">
              <label for="depts">Departments</label>
              <select class="form-control" name="department" id="depts">
                {% for department in departments %}
                <option value="{{ department.name }}">{{ department.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="role">Role</label>
              <select class="form-control" name="role" id="role">
                <option value="staff">Staff</option>
                <option value="administrator">Administrator</option>
              </select>
            </div>
            <div class="form-group">
              <input type="text" class="form-control border-danger mt-3 mb-2" name="username" id="username" required autofocus placeholder="Username">
              </div>
              <div class="form-group">
              <input type="password" class="form-control border-danger mt-3 mb-2" name="password1" id="password1" required placeholder="Password">
              </div>
              <div class="form-group">
                <input type="password" class="form-control border-danger mt-3 mb-2" name="password2" id="password2" required placeholder="Confirm Password">
                </div>
            <div class="form-group">
                <label for="userimg">Image</label>
                <input type="file" name="image" class="form-control-file" id="userimg">
            </div>
            <button type="submit" class="btn btn-danger btn-block mb-5">Register</button>
        </form>
    </div>

    {% endblock %}
    
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>